# CUDA runtime symlink created by conda nvidia packages (filename is a single space)
\ 
synthetic_data/
torch_cache/
pretrained/
experiments/
projection_data/
logs/
check_points/
checkpoints/
fig/
log/
output/
*test.py
medical_image_datasets/
*.pyc
*.pth
*.pt
__pycache__/
.venv/
Thesis_report/
data/
